@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default,  --prefersdark;
   root: ":root";
   include: ;
   exclude: ;
   prefix: ;
   logs: true;
};


*{
     font-family: "Roboto" !important
}


@media print {
  @page { margin: 1cm; size: A4; }
  
  body { 
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
    background-color: white !important;
  }
  
  /* Mantemos display flex/grid funcionando */
  
  .no-break {
    break-inside: avoid;
    page-break-inside: avoid;
    break-before: auto;
    page-break-before: auto;
    position: relative;
  }
  
  /* Utilitários de Ocultação */
  .no-print, .print\:hidden {
    display: none !important;
  }

  /* Garantir visibilidade do conteúdo de impressão */
  .print\:block {
    display: block !important;
  }

  thead { display: table-header-group; }
  tr { page-break-inside: avoid; }
}