@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default,  --prefersdark;
   root: ":root";
   include: ;
   exclude: ;
   prefix: ;
   logs: true;
};


*{
     font-family: "Roboto" !important
}